.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 13px;
  border: 1px solid rgba(238, 238, 238, 0.8);
  border-radius: 5px;
}

.img {
  border-radius: 10px !important;
  flex: 1;
  margin: 10px;
}

.info {
  flex: 2;
}

@media (max-width: 600px) {
  .event {
    flex-direction: column;
    text-align: center;
  }

  .info {
    margin-bottom: 20px;
  }
}
