.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #ccc;
  height: 60px;
  padding: 0 30px;
  /* box-shadow: 0 2px 5px rgba(63, 63, 63, 0.1); */
}

.header a {
  color: inherit;
  margin-right: 20px;
  transition: all 0.3s ease;
}

.header a:hover {
  color: #fff;
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.logo {
  color: #3f3fff;
  font-size: 20px;
  text-transform: uppercase;
}

.logo a {
  color: #3f3fff;
  font-weight: bold;
  letter-spacing: 1.5px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header ul {
    margin: 20px 0;
    flex-direction: column;
    text-align: center;
  }

  .header a {
    margin-right: 0;
  }

  .logo {
    margin: 20px 0;
  }
}
